body {
  font-family: 'Open Sans', sans-serif;
  background-color: #E4D7C8;
  color: rgb(65, 65, 65);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Pacifico', cursive;
}

.small {
  font-weight: 300;
  font-style: italic;
}


